.wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .loader{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-bottom: 12px solid red;
    border-top: 12px solid red;
    border-left: 12px solid white;
    border-right: 12px solid white;
    display: grid;
    place-content: center;
    animation-name: spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite;

 }
 .nuqta{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
 }
 
 
 @keyframes spinner {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(720deg);
    }
    
 }