/* .card{
    width: 200px;
   height: 200px;
   display: grid;
   background-color: red;
   place-content: center;
   animation-name: cardAnimate;
   animation-duration: 10s;
}
.wrapper{
    width: 600px;
    height: 600px;
    border: 1px solid;
    margin: 0 auto;
}
@keyframes  cardAnimate {
    0%{
        background-color: red;
    }
    25%{
        background-color: green;
        transform:translateX(400px) ;
    }
    50%{
        background-color: blue;
        transform: translate(400px,400px);
    }
    75%{
background-color: aqua;
transform: translate(0,400px);
    }
    100%{
        background-color: red;
        transform: translate(0,0);
    }
    
} */
 .wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .loader{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-bottom: 12px solid red;
    border-top: 12px solid red;
    border-left: 12px solid white;
    border-right: 12px solid white;
    display: grid;
    place-content: center;
    animation-name: spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite;

 }
 .nuqta{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
 }
 
 
 @keyframes spinner {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(720deg);
    }
    
 }